.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
sc.iml
Fiszki.iml
/app/src
/app/app.iml
/app/app-release.apk
/app/build.grandle
/app/proguard-rules.pro
/app/build/generated
/app/build/intermediates
/app/build/tmp
/app/build/outputs/logs






