<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.qm.fiszki" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityContainer.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="eu.qm.fiszki.intent.action.Add_Word" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityContainer.AddWordActivity"
            android:label="@string/add_new_word_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ActivityContainer.CheckActivity"
            android:label="@string/title_activity_check"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".AlarmReceiverClass" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DeviceBootReceiverClass"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".SettingsActivity"
            android:label="@string/title_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityContainer.MainActivity">
        </activity>
    </application>

</manifest>
